@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --primary: #fd4622;
  font-family: "DM Sans", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: "Outfit", sans-serif;
}

.container {
  margin: 0 3%;
}

/* Navbar */
nav {
  box-shadow: rgba(17, 17, 26, 0.2) 0px 1px 0px;
}
nav .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
  padding: 0.6rem 0;
}
nav .content > ul {
  display: none;
}
nav .content > .call-btn {
  display: none;
}
.hamburger i {
  font-size: 1.5rem;
}
.call-btn {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background-color: var(--primary);
  border: none;
  color: white;
  padding: 8px 10px;
  border-radius: 10px;
  width: fit-content;
}
.mobile-drawer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 70vw;
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 2;
  animation: mobile-drawer 2s linear;
}
.mobile-drawer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.492);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  animation: overlay 2s linear;
}

@keyframes mobile-drawer {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes overlay {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
/* Large Phones */
@media screen and (min-width: 480px) {
  .container {
    margin: 0 4%;
  }
}

/* Tablets */
@media screen and (min-width: 768px) {
  nav .content {
    padding: 0.8rem 0;
  }
  nav .content > ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
  }
  nav .content > button {
    display: flex;
  }
  .hamburger {
    display: none;
  }
}

/* Laptops */
@media screen and (min-width: 1024px) {
  .container {
    margin: 0 6%;
  }
}
